.footer {
  height: 200px;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 0 left -111px;

  margin-top: 120px;

  @include onTablet {
    height: 480px;
    background-position: bottom 0 left -278px;
  }

  @include onDesktop {
    height: 555px;
    background-position: 0 0;
  }
}
