.footer {
  height: 35vh;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 0 left -111px;

  margin-top: 120px;

  @include onTablet {
    height: 76vh;
    background-position: bottom 0 left -278px;
  }

  @include onDesktop {
    height: 80vh;
    background-position: 0 0;
  }
}
