.header {
  box-sizing: border-box;
  height: 480px;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;

  @include onTablet {
    height: 630px;
    margin-bottom: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 480px;
    padding-top: 29px;

    @include onTablet {
      height: 630px;
      padding-top: 36px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 88px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #292929;

    @include onTablet {
      font-size: 64px;
      margin-bottom: 130px;
    }

    @include onDesktop {
      font-size: 80px;
      margin-bottom: 122px;
    }
  }
}
